In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
daily_data = pd.read_csv('https://covid19.who.int/WHO-COVID-19-global-data.csv')
latest_reported = pd.read_csv('https://covid19.who.int/WHO-COVID-19-global-table-data.csv')
vaccination_data = pd.read_csv('https://covid19.who.int/who-data/vaccination-data.csv')
vaccination_metadata = pd.read_csv('https://covid19.who.int/who-data/vaccination-metadata.csv')

In [3]:
daily_data

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
177271,2022-01-15,ZW,Zimbabwe,AFRO,553,225637,16,5238
177272,2022-01-16,ZW,Zimbabwe,AFRO,297,225934,5,5243
177273,2022-01-17,ZW,Zimbabwe,AFRO,144,226078,4,5247
177274,2022-01-18,ZW,Zimbabwe,AFRO,382,226460,11,5258
177275,2022-01-19,ZW,Zimbabwe,AFRO,427,226887,8,5266

In [4]:
daily_data[daily_data['Country'] == 'The United Kingdom']

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
157828,2020-01-03,GB,The United Kingdom,EURO,0,0,0,0
157829,2020-01-04,GB,The United Kingdom,EURO,0,0,0,0
157830,2020-01-05,GB,The United Kingdom,EURO,0,0,0,0
157831,2020-01-06,GB,The United Kingdom,EURO,0,0,0,0
157832,2020-01-07,GB,The United Kingdom,EURO,0,0,0,0
...,...,...,...,...,...,...,...,...
158571,2022-01-15,GB,The United Kingdom,EURO,98578,15066014,270,151612
158572,2022-01-16,GB,The United Kingdom,EURO,80704,15146718,287,151899
158573,2022-01-17,GB,The United Kingdom,EURO,74267,15220985,91,151990
158574,2022-01-18,GB,The United Kingdom,EURO,84429,15305414,85,152075
158575,2022-01-19,GB,The United Kingdom,EURO,93890,15399304,438,152513